#####################################
### Configuration file for mysql  ###
#####################################

### Section for MySQL ###
[mysql]
### MySQL user that can do mysqldump
user 	 	= test

### Password for MySQL user
password 	= test123

### Database that will be dumped
database 	= test

### Directory to store MySQL dump
destination	= /data/backup_ms

### Encrypting backup file 
encrypt		= False

### Password for encryption
enc_pass	= 'encryptionpassword'

upload_to_onedrive = False

### Directory on OneDrive where backup will be stored.
### If upload_to_onedrive is False or not provided you don't need to provide.
drive_dir    = /backup/mysqldump

### schedule execution time
exec_time       = * * * *

### Section for MySQL on Remote Machine ###
### NOTE ###
# 1.    In order to execute remote backup, system assume that
#       ssh keys are exchanged with server for root user
#       permissions. Commands that can achieve above are provided below:
#       if you don't have ssh key, it can be generated using next command
#       ssh-keygen
#       to exchange keys with the server use next command :
#       put server IP in place of 192.168.0.15
#       ssh-copy-id root@192.168.0.15
# 2.    Also you will have to create NFS server either on remote server
#       or on local machine or some third machine, and to mount at the same path.
#       IE. Destination directory is '/data/mysqldump' , this directory
#       on remote server had to be mounted same as local directory '/data/mysqldump'
#       in order to perform encryption tasks and cleanup old files or upload to OneDrive.
#       WARNING: If you don't provide shared storage in any form,
#       backup will still be created, but every single time that system
#       perform backup a new file will be generated. System will log error and proceed to work.

### Section for remote mysqldump ###
### Execute mysqldump to remote machines
[mysqldump_remote]
### Host on which mysqldump will be executed
host       = ms1.local
### MySQL users that can do mysqldump
user 	 	= dbuser

### Password for MySQL user
password 	= samplepassword

### Database that will be dumped
database 	= sampledb

### Directory to store MySQL dump
destination	= /data/mysqldump

### Prefix for backup file
file_prefix	= sampledb

### Encrypting backup file 
encrypt		= True

### Password for encryption
enc_pass	= 'encryptionpassword'

upload_to_onedrive = False

### Directory on OneDrive where backup will be stored.
### If upload_to_onedrive is False you don't need to provide.
drive_dir    = /backup/mysqldump

### schedule execution time
exec_time       = * * * *


