### Section for synchronizing directories ###
[sync]
### Source directory
src			= /data

### Destination directory
dst			= /data2

### schedule execution time
exec_time       = * * * *


### NOTE ###
# In order to execute remote backup, system assume that
# ssh keys are exchanged with server for root user
# permissions. Commands that can achieve that are provided below:
# if you don't have ssh key, it can be generated using next command
# ssh-keygen
# to exchange keys with the server use next command :
# put server IP in place of 192.168.0.15
# ssh-copy-id root@192.168.0.15

### section for remote rsync ###
### Execute rsync on remote hosts
[sync_remote]
### List of hosts on which rsync will be executed
host       = dir1.local

### Source directory
src			= /data

### Destination directory
dst			= /data2

### schedule execution time
exec_time       = * * * *